{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" style="margin-bottom: 2rem;">
    <div class="container-fluid" >
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/logo.jpg' %}" alt="Logo" width="80" height="60" class="d-inline-block align-text-top">
        
      </a>
      <span style="color: whitesmoke; font-weight: bold; font-size:xx-large; margin-left: 7%;"><a href="{% url 'home' %}" style="text-decoration:none; color: whitesmoke;">Sardar Vallabhbhai National Institute of Technology</a></span>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
</nav>